
<body>
  <h3>Books</h3>
  <div class="main-content">
    <header>
      <p class="title">Title</p>
      <p class="body">Body</p>
      <div class="right-space"></div>
    </header>
    <div class="main">
      <div class="main-left">
        <p class="text">リーダブルコード</p>
        <p class="text">トラブル知らずのシステム設計</p>
      </div>
      <div class="main-center">
        <p class="text">より良いコードを書くためのシンプルで実践的なテクニック</p>
        <p class="text">システム設計の要点を図解で説明してくれます</p>
      </div>
      <div class="main-right">
        <p class="link">Show</p>
        <p class="link">Edit</p>
        <p class="link">Destroy</p>
      </div>
    </div>
  </div>
  <h3>New book</h3>


</body>






