// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  margin: 33px;
  max-width : 800px;
}

table{
  width : 100%;
}


.title{
  width: 25%;
}

.body{
  width: 50%;
}

.right-space{
  width: 25%;
}

.title , .body{
 text-align: center;
 font-weight: bolder;
 font-size: 13px;
 margin-top: 0;
 margin-bottom: 0;
}

.main-content{
  margin-left: 5px;
}


.text{
  font-size: 13px;
}

.link{
  display: inline;
  font-size: 13px;
}

.show{
  margin: 33px;
  font-size: 13px;
}


.edit{
  display: inline-block;
}

